.category-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cat-list {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  border: 1px solid black;
  height: 75;
  padding: 5px;
}
