.category-container {
  flex: 2 1 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.cat-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  height: 75%;
  padding: 5px;
}
